<h1 class="centered">Questions</h1>
<div class="ui pointing menu">
  {{#link-to "question.index" class="item"}}List{{/link-to}}
  {{#link-to "question.add" class="item"}}Add {{/link-to}}

</div>
{{outlet}}
