{{outlet}}
<div class="ui big relaxed">

    <div class="ui active loader" id="question-loader"></div>
{{#each quesList as |ques|}}

  <div class="ui big relaxed raised segment">
  {{#question-preview ques=ques onDeleteQues=(action "didDeleteQuestion")}}{{/question-preview}}
  </div>

{{/each}}
</div>