{{outlet}}
<div class="ui big relaxed">

  {{#unless quesList}}
    <div class="ui active loader"></div>
  {{/unless}}
{{#each quesList as |ques|}}

  <div class="ui big relaxed raised segment">
  {{#question.question-preview ques=ques
                      onEditQues=(action "didEditQuestion")
                      onDeleteQues=(action "didDeleteQuestion")}}

                      {{/question.question-preview}}
  </div>

{{/each}}
</div>