{{yield}}
<div class="ui big clearing">
  {{#if usermode}}
      <button {{action "editQuestion" ques}} class="ui right floated icon button">
          <i class="edit icon"></i>
      </button>
      <button {{action "deleteQuestion" ques}} class="ui right floated icon button">
          <i class="delete icon"></i>
      </button>
  {{/if}}

  <div>
  {{markdown-to-html q.question}}
  </div>

</div>
