<div class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="ui top attached tabular menu">

          {{#link-to "question.index" class="item"}}Question{{/link-to}}
          {{#link-to "question.add" class="item"}}Add {{/link-to}}

        </div>
      {{outlet}}

    </div>
    <div class="four wide column"></div>
</div>


