<div class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">

      {{#top-nav}}
        {{outlet}}
      {{/top-nav}}
    </div>

    <div class="four wide column"></div>
</div>

