<div class="ui top attached tabular menu">

  {{#link-to "question.index" class="item"}}Question{{/link-to}}
  {{#link-to "question.add" class="item"}}Add {{/link-to}}
  {{#link-to "signin" class="item right"}}Signin{{/link-to}}


</div>
{{yield}}



