<div class="ui top attached tabular menu">

  {{#link-to "question" class="item"}}Question{{/link-to}}
  {{#if user.loggedIn}}
    {{#link-to "signin.signout" class="item right"}}Sign Out{{/link-to}}
  {{else}}
    {{#link-to "signin" class="item right"}}Sign In{{/link-to}}
  {{/if}}




</div>
{{yield}}



