<i class="close icon"></i>
<div class="header">Successfully Logged in</div>
<div class="content">Oh damn !</div>
{{yield}}
<div class="actions">
    <div class="ui right">
        <div class="ui grey button" {{action 'moveon'}}>
            <i class="signup icon"></i>
            OK
        </div>
    </div>
</div>
