{{outlet}}
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <center>
        <div class="ui left icon input">
            <input type="text" name="username" placeholder="Username"><i class="user icon"></i>
        </div>
          <button class="ui button">Login</button>
      <br>
        <div class="ui left icon input">
            <input type="password" name="password" placeholder="Password"><i class="key icon"></i>
        </div>
            <button class="ui button">Reset</button>

        </center>
    </div>
    <div class="four wide column"></div>


</div>